html,body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    scrollbar-width: 0px;
}
body::-webkit-scrollbar {
width: 0.5em;
}
body::-webkit-scrollbar-track {
background: transparent;
}
body::-webkit-scrollbar-thumb {
background: transparent;
}

body::-webkit-scrollbar-horizontal {
height: 0.5em;
}
body::-webkit-scrollbar-thumb-horizontal {
background: transparent;
}
#app{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    overflow: hidden;
}
*{
    user-select: none;
}